@font-face {
    font-family: "Carbon Droid";
    src: url(../assets/fonts/CARBON-DROID.ttf) format("truetype");
}
   

html, body {
    height: 100%;
    margin: 0em;
}

body {
    background-color: red;
}

p {
    font-family: "Carbon Droid";
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}